.my-info {
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    animation: fadeIn 1s;
}

/* .bioPic {
  background-color: blue;
  height: 200px;
  width: 200px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px silver;
  filter: drop-shadow(0px 0px 5px #555);
} */

.headshot {
  height: 270px;
  width: 230px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px silver;
  filter: drop-shadow(0px 0px 5px #555);
  margin-left: 43%;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .bio-info {
    display: flex;
    /* background-color: purple; */
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;

  }

  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    font-weight: bolder;
  }