.header-container {
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

  h1 {
    font-style: italic;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    /* margin: 50px, 0px, 0px, 0px; */
    padding-left: 70px;
  }
  span {
    font-size: 25px;
  }